# Managed by Ansible - IRIVEN IDM PLATFORM
[Journal]
Storage={{ audit_baseline_journal_storage }}
Compress={{ audit_baseline_journal_compress }}
SystemMaxUse={{ audit_baseline_journal_system_max_use }}
RuntimeMaxUse={{ audit_baseline_journal_runtime_max_use }}
MaxRetentionSec={{ audit_baseline_journal_max_retention_sec }}
ForwardToSyslog=yes
