# Managed by Ansible - IDM PLATFORM Chrony client
{% for ntp_server in idm_ntp_servers %}
server {{ ntp_server }} iburst
{% endfor %}

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
minsources 1
logdir /var/log/chrony
confdir /etc/chrony.d
