# Managed by Ansible - IDM lab Chrony server
pool 2.pool.ntp.org iburst

driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync

allow {{ idm_net_cidr }}
local stratum 10

logdir /var/log/chrony
confdir /etc/chrony.d
