# Managed by Ansible - Keepalived VIP for IDM load balancers
global_defs {
    router_id {{ inventory_hostname }}
    enable_script_security
}

vrrp_script chk_haproxy {
    script "/usr/bin/systemctl is-active --quiet haproxy"
    interval 2
    fall 2
    rise 2
}

vrrp_instance VI_IDM_LB {
    state {{ 'MASTER' if inventory_hostname == 'idmloadbalancer1' else 'BACKUP' }}
    interface {{ idm_lb_interface | default(ansible_default_ipv4.interface) }}
    virtual_router_id 55
    priority {{ 110 if inventory_hostname == 'idmloadbalancer1' else 100 }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ idm_keepalived_auth_pass | default('IrivenVIP55') }}
    }

    virtual_ipaddress {
        {{ idm_lb_vip }}/24
    }

    track_script {
        chk_haproxy
    }
}
